@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 47%;
  }

  .dark {
    --background: 0, 0%, 7%;
    --foreground: 0 0% 53%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
